<!DOCTYPE html>
<html lang="en">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="big">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<h1>Login</h1>
<div>
    <label for="username"> username </label>
    <input type="text" class="form-control" placeholder="username" id="username"/>
</div>

<div>
    <label for="password"> Password </label>
    <input type="password" class="form-control" placeholder="password" id="password"/>
</div>

<div>
    <button id="loginBtn" class="btn btn-primary">Login</button>
</div>
<a href="register.template.client.html"> Sign Up </a>
<link href="../css/login.style.client.css" rel="stylesheet"/>
<script src="../services/user.service.client.js"></script>
<script src="../javascript/login.controller.client.js"></script>
</body>
</html>