<!DOCTYPE html>
<html lang="en">


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"

      rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>

<body class="big">

<h1>Sign Up</h1>

<div>
    <label for="firstName"> First Name </label>
    <input type="text" class="form-control" placeholder="First Name" id="firstName"/>
</div>

<div>
    <label for="lastName"> Last Name </label>
    <input type="text" class="form-control" placeholder="Last Name" id="lastName"/>
</div>

<div>
    <label for="password"> Password </label>
    <input type="password" class="form-control" placeholder="Password" id="password"/>
</div>

<div>
    <label for="password2"> Verify Password </label>
    <input type="password" class="form-control" placeholder="Verify Password" id="password2"/>
</div>

<div>
    <label for="username"> Username </label>
    <input type="text" class="form-control" placeholder="Username" id="username"/>
</div>

<div>
    <label for="role"> Select your role </label>
    <select id="role" class="form-control">
        <option value="Student"> Student</option>
    </select>
</div>

<div>
    <label for="phone"> Phone </label>
    <input type="tel" class="form-control" placeholder="(xxx)xxx-xxxx" id="phone"/>
</div>

<div>
    <label for="emailAddress"> Email Address </label>
    <input type="email" class="form-control" placeholder="example@domain.com" id="emailAddress"/>
</div>

